* {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 30px;
  padding-bottom: 35px;
}

.home {
  padding: 0;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: bold;
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 10px;
}

.border-bottom {
  border: none;
}

.title {
  padding-bottom: 10px;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  font-size: x-large;
  font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto, Oxygen, Ubuntu, Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}

.image-logo {
  width: 300px;
}

.rrss {
  width: 75px;
}

.logo {
  width: 5em;
}

.proyect-images {
  align-items: center;
  width: 300px;
  transition: width 0.5s;
  cursor: hand;
}

.proyect-images:hover {
  width: 350px;
}

a {
  color: white;
  font-size: large;
  text-decoration: none;
}

a:hover {
  color: #3d3f41;
}

footer {
  padding-top: 5px;
  background-color: black;
}

.image {
  width: 75px;
}

h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

/* HEADER */
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rrss-horizontales {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  order: 2;
}

.image {
  width: 65px;
}

.image-logo {
  width: 350px;
}

.section-name a {
  padding: 1.5rem;
  color: black;
  font-weight: bold;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}

.section-name a:visited {
  color: #000000;
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
}

/* BODY */
.wrapper {
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 200px;
  animation: typing 2s steps(10), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.typing-demo-proyects {
  width: 11.5em;
  animation: typing 2s steps(20), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: monospace;
  padding: 20px;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.typing-demo-form {
  width: 13em;
  animation: typing 2s steps(20), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: monospace;
  padding: 20px;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.configuration-container {
  background-image: url(https://i.ibb.co/MPWbhFv/fondo-marmol.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.configuration-title {
  padding-bottom: 10px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: xx-large;
  font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto, Oxygen, Ubuntu, Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
}

.configuration-content {
  text-align: justify;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 10px;
  font-size: 20px;
  font-family: "Cambria", "Cochin", Georgia, Times, "Times New Roman", serif;
}

.servicios {
  background-color: #cfd8dd;
}

.contacto {
  background-color: #cfd8dd;
}

.trabajos {
  padding-top: 30px;
  padding-bottom: 35px;
  background-color: #cfd8dd;
}

td {
  border: 2.5px solid black;
  font-family: "Cambria", "Cochin", Georgia, Times, "Times New Roman", serif;
}

.table-title {
  font-size: x-large;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.list-trabajos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

/* FOOTER */
.logo-footer {
  width: 150px;
}

.title-footer {
  padding-bottom: 10px;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  font-size: x-large;
  font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto, Oxygen, Ubuntu, Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

/* BOOSTRAP HEAD*/
.masthead {
  padding: 3rem 0 7rem;
  position: relative;
  background-color: #413f3f;
  background-image: url(https://startbootstrap.com/assets/img/overlay.svg), linear-gradient(45deg, #393650 0%, #1b1919 100%);
  background-size: cover;
  z-index: 0;
}

.masthead svg.wave {
  position: absolute;
  bottom: -1px;
  left: 0;
}

.masthead h1 {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.1;
  z-index: 1;
}

.masthead h2 {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
  z-index: 1;
  font-size: 1.2rem;
}

.masthead a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  z-index: 1;
}

.masthead a:hover {
  color: #fff;
}

.masthead a:active {
  text-decoration: none;
}

@media (min-width: 992px) {
  .masthead h1 {
    font-size: 3rem;
  }

  .masthead h2 {
    font-size: 1.5rem;
  }
}
.masthead .masthead-cards {
  position: relative;
  z-index: 1;
}

.masthead .masthead-cards .shape {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.masthead .masthead-cards .card {
  opacity: 1;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05rem;
  color: #212529;
  transition: 0.15s all;
}

.masthead .masthead-cards .card:hover {
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
}

.masthead .masthead-cards .card:active {
  margin-top: inherit;
  margin-bottom: inherit;
}

.masthead .masthead-cards .card.border-bottom-blue:hover {
  color: #2092ed;
}

.masthead .masthead-cards .card.border-bottom-green:hover {
  color: #28a745;
}

.masthead .masthead-cards .card.border-bottom-red:hover {
  color: #dd3d31;
}

.masthead .masthead-cards .card.border-bottom-yellow:hover {
  color: #ffc107;
}

.masthead-page {
  padding: 1rem 0 4rem;
}

@media (min-width: 992px) {
  .masthead-page h1 {
    font-size: 2.5rem;
  }
}
.border-bottom-yellow {
  border-color: #ffc107 !important;
}

.border-bottom-red {
  border-color: #dd3d31 !important;
}

.border-bottom-blue {
  border-color: #2092ed !important;
}

.border-bottom-green {
  border-color: #28a745 !important;
}

.border-bottom-blue, .border-bottom-green, .border-bottom-red, .border-bottom-yellow {
  border-bottom: 0.4rem solid !important;
}

.shadow-lg {
  box-shadow: 0 2rem 1.5rem -1.5rem rgba(33, 37, 41, 0.15), 0 0 1.5rem 0.5rem rgba(33, 37, 41, 0.05) !important;
}

.border-0 {
  border: 0 !important;
}

/*BOOSTRAP STICKS*/
.card-big-shadow {
  max-width: 320px;
  position: relative;
}

.coloured-cards .card {
  margin-top: 30px;
}

.card[data-radius=none] {
  border-radius: 0px;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.card[data-background=image] .title, .card[data-background=image] .stats, .card[data-background=image] .category, .card[data-background=image] .description, .card[data-background=image] .content, .card[data-background=image] .card-footer, .card[data-background=image] small, .card[data-background=image] .content a, .card[data-background=color] .title, .card[data-background=color] .stats, .card[data-background=color] .category, .card[data-background=color] .description, .card[data-background=color] .content, .card[data-background=color] .card-footer, .card[data-background=color] small, .card[data-background=color] .content a {
  color: #FFFFFF;
}

.card.card-just-text .content {
  padding: 50px 65px;
  text-align: center;
}

.card .content {
  padding: 20px 20px 10px 20px;
}

.card[data-color=blue] .category {
  color: #7a9e9f;
}

.card .category, .card .label {
  font-size: 16px;
  margin-bottom: 5px;
}

.card-big-shadow:before {
  background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: -12%;
  content: "";
  display: block;
  left: -12%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

h4, .h4 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2em;
}

h6, .h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}

.card .description {
  font-size: 16px;
  color: #66615b;
}

.content-card {
  margin-top: 30px;
}

a:hover, a:focus {
  text-decoration: none;
}

/*======== COLORS ===========*/
.card[data-color=blue] {
  background: #b8d8d8;
}

.card[data-color=blue] .description {
  color: #506568;
}

.card[data-color=green] {
  background: #d5e5a3;
}

.card[data-color=green] .description {
  color: #60773d;
}

.card[data-color=green] .category {
  color: #92ac56;
}

.card[data-color=yellow] {
  background: #ffe28c;
}

.card[data-color=yellow] .description {
  color: #b25825;
}

.card[data-color=yellow] .category {
  color: #d88715;
}

.card[data-color=brown] {
  background: #d6c1ab;
}

.card[data-color=brown] .description {
  color: #75442e;
}

.card[data-color=brown] .category {
  color: #a47e65;
}

.card[data-color=purple] {
  background: #baa9ba;
}

.card[data-color=purple] .description {
  color: #3a283d;
}

.card[data-color=purple] .category {
  color: #5a283d;
}

.card[data-color=orange] {
  background: #ff8f5e;
}

.card[data-color=orange] .description {
  color: #772510;
}

.card[data-color=orange] .category {
  color: #e95e37;
}

/*# sourceMappingURL=style.css.map */
